[Unit]
Description=Jetson Boot and Shutdown Logger
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/robotoai/DockerNew/log-monitor/jetson-logger/jetson_logger.sh start
ExecStop=/home/robotoai/DockerNew/log-monitor/jetson-logger/jetson_logger.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
